.button-wrapper {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 4em;
  width: 12em;
  border-radius: 1em;

  border-width: 0.0625em;

  margin: 6em;
}
